/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    FISHY Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Import profile settings
includeConfig "conf/profiles.config"

// Global default params (These can be set on the command line via --PARAM [e.g. --out /my/out/path])
params {

    // Setting output directory 

    // Set name for output folder/file prefixes
    out = "FISHY_${new java.util.Date().getTime()}"

    runmode = ""

    // Location for isolate sequence data
    reads = ""
    fasta = ""
    reference_fasta = ""

    // AB1 info
    ab1 = ""
    ab1_forward = "_fwd.ab1"
    ab1_reverse = "_rev.ab1"

    // Analytical variables

    // Only consider queries if the reference genome is covered by at least <min_cov>% [Default: 85]
    min_cov = 85

    // Only consider SNPs from contig alignments longer than <min_len> bp [Default: 500]
    min_len = 500

    // Only consider SNPs from contig alignments with <min_iden>% identity [Default: 99]
    min_iden = 99

    // Remove SNPs that occur within <ref_edge>bp from the end of the reference contig [Default: 150]
    ref_edge = 150

    // Remove SNPs that occur within <query_edge>bp from the end of the query contig [Default: 150]
    query_edge = 150 

    // Alternate directory for pybedtools tmp files [Default: "" (system default)]
    tmp_dir = "" 

    // Help function
    help = "nohelp"
    h = "nohelp" 
}
