profiles {
    standard {
        process.executor = 'local'
        params.cores = 1 
    }
    reedling{
        // We can enable these later when we have real stuff to run
        //conda.enabled = true
        //conda.useMicromamba = true
        //conda.cacheDir = "${projectDir}/Fishy_env"
        //process.conda = "${projectDir}/conf/Fishy.yaml" 
        process.executor = 'slurm'
        params.cores = 48
    }
}
